<div class="contanier">
    <div class="card">
        <div class="card-header">
            <h3>Cadastro de empresas</h3>
        </div>
        <div class="card-body">
            <form #f="ngForm"  class="needs-validation" novalidate>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cnpj">CNPJ*:</label>
                        <input type="text" class="form-control"  placeholder="00.000.000/0000-00" name="cnpj"
                            required [(ngModel)]="empresa.cnpj"> 
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um CNPJ Valido!.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="tipo">Tipo de empresa:*</label>
                        <select [(ngModel)]="empresa.tipo" class="form-control" required name="tipo">
                            <option selected>Matriz</option>
                            <option>Filial</option>
                        </select>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um tipo de empresa Valido!.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome da empresa:*</label>
                        <input type="text" class="form-control"  placeholder="Nome da empresa" name="nome"
                            required  [(ngModel)]="empresa.nome">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um Nome!.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="razaoSocial">razão social:*</label>
                        <input type="text" class="form-control" placeholder="Razão social" name="razaoSocial"
                             required [(ngModel)]="empresa.razaoSocial">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar uma razão social!.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="contato">Contato:*</label>
                        <input type="text" class="form-control"  placeholder="Contato" name="contato"
                            required  [(ngModel)]="empresa.contato">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um contato!.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">E-mail:*</label>
                        <input type="email" class="form-control" placeholder="exemplo@exemplo.com" name="email"
                             required  [(ngModel)]="empresa.email">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um email Valido!!.</div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="cep">CEP:*</label>
                        <input type="text" class="form-control"  placeholder="digite o cep" name="cep" required  (blur)="consultaCep($event.target.value, f)" [(ngModel)]="empresa.cep">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um Cep Valido!.</div>
                    </div>
                    

                    <div class="form-group col-md-6 mb-3">
                        <label for="estado">Estado:*</label>
                        <input type="text" class="form-control"  placeholder="Nome do estado"  name="estado"
                            required  [(ngModel)]="empresa.estado">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um estado!.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="bairro">Bairro:*</label>
                        <input type="text" class="form-control"  placeholder="Nome da bairro" name="bairro"
                            required  [(ngModel)]="empresa.bairro">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um bairro!.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="cidade">Cidade:*</label>
                        <input type="text" class="form-control"  placeholder="Nome da cidade" name="cidade"
                            required  [(ngModel)]="empresa.cidade">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar uma cidade!.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="logradouro">Logradouro:*</label>
                        <input type="text" class="form-control"  placeholder="Nome do logradouro" name="logradouro"
                             required [(ngModel)]="empresa.logradouro">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um lougradouro!.</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="complemento">Complemento:</label>
                        <input type="text" class="form-control"  placeholder="Complermento" name="complemento"
                             [(ngModel)]="empresa.complemento">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Precisa digitar um complemento!.</div>
                    </div>
                </div>
                <div class="form-row text-center">
                    <div class="form-group col-md-6"> <button (click)="Salvar(empresa)" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>


            </form>

        </div>
    </div>
</div>

