
            <div class="container">

                <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <!------ Include the above in your HEAD tag ---------->
                
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
                <div class="container">
                    <br/>
                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-10 col-lg-8">
                                            <form class="card card-sm">
                                                <div class="card-body row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <i class="fas fa-search h4 text-body"></i>
                                                    </div>
                                                    <!--end of col-->
                                                    <div class="col">
                                                        <input id="txtbusca" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Biscar por Nome ou cnpj">
                                                    </div>
                                                    <!--end of col-->
                                                    <div class="col-auto">
                                                        <button class="btn btn-lg btn-success" type="submit">Buscar</button>
                                                    </div>
                                                    <!--end of col-->
                                                </div>
                                            </form>
                                        </div>
                                        <!--end of col-->
                                    </div>
                </div>

                <h3 class="text-center">Lista de empresas</h3>
            </div>
                <table id="example" class="table table-striped table-bordered" style="width:100%" #t>
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Editar</th>
                            <th>Ecluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empresa of empresas" class="" id="exemplo">
                            <td>{{ empresa.id }}</td>
                            <td>{{ empresa.nome }}</td>
                            <td>{{ empresa.cnpj }}</td>
                            <td>
                                <button type="button" class="btn btn-warning" (click)="Editar(empresa)">
                                    <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                                            clip-rule="evenodd" />
                                        <path fill-rule="evenodd"
                                            d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </td>
                            <td>
                                <a href="">
                                    <button (click)="Delete(empresa)" type="button" class="btn btn-danger">
                                        <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Editar</th>
                            <th>Ecluir</th>
                        </tr>
                    </tfoot>
                </table>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
                <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
                <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
                <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
                
                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                
                <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript">
                $( document ).ready(function() {
                    $("#txtbusca").keyup(function(){
                            var texto = $(this).val();
                             
                            $("#ulItens li").css("display", "block");
                            $("#ulItens li").each(function(){
                                if($(this).text().indexOf(texto) < 0)
                                   $(this).css("display", "none");
                            });
                        });
});
                   
                    </script>

